.main {
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  max-width: fit-content;
  width: 50%;
  gap: 20px;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.secondaryText {
  color: #94a3b8;
}

.tag {
  background-color: red;
  border-radius: 2px;
  padding: 0 5px;
  font-size: x-small;
  width: fit-content;
  margin: 5px 0;
}

.image {
  height: 300px;
}
