.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.createBtn {
  padding: 10px 15px;
  outline: 0;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #94a3b8;
  color: #94a3b8;
  font-weight: bold;
  transition: all 0.2s ease-in;
  cursor: pointer;
  font-size: small;
}

.createBtn:hover {
  border-color: #e2e8f0;
  color: #e2e8f0;
}
